<!-- This is the splash page index.html.erb file -->

<div class ="span10 offset2 boxy text-center">
	<h1 class="h1-custom"> Hello Friend</h1>

	<br/>

	<h2> Tell Me Everything!</h2>
	<br/>
	<br/>


	<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large' %>



</div>

